VITE_FIREBASE_API_KEY=AIzaSyDw4UFaWH-EXeYpFxEaaEsJ6iluIfU4EhE
VITE_FIREBASE_AUTH_DOMAIN=explore-email-password-96f78.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=explore-email-password-96f78
VITE_FIREBASE_STORAGE_BUCKET=explore-email-password-96f78.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1011677562007
VITE_FIREBASE_APP_ID=1:1011677562007:web:99462491e51c8a8b4dd5d2